{% load i18n %}

<script>
    angular.module('cumaApp').controller('showController', function() {
        var vm = this;
        vm.goToEdit = function (url) {
            window.location = url;
        }
    })
</script>

<div class="top70">
    <a class="nav-link" ui-sref="users.list"><i class="glyphicon glyphicon-chevron-left"></i> <span>{%  trans 'User Management' %}</span></a>
</div>
{% verbatim %}
<div>
    <div class="user_details">
        <h2>DHIS2 Details</h2>
        <hr>
        <h4>{{ ctrl.data.dhis_user.displayName }}</h4>
        <span ng-if="ctrl.data.dhis_user.email">{{ ctrl.data.dhis_user.email }}</span></br>
        <span ng-if="dhis_user.data.userCredentials.disabled">
            Inactive
        </span>
        <span ng-if="!dhis_user.data.userCredentials.disabled">
            Active
        </span>
        <div class="comet_profile">

            <h2>COMET Profile</h2>
            <hr>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="org_units" class="col-sm-2 control-label">Country & Org Units:</label>
                    <div id="org_units" class="col-sm-10">
                        <div ng-if="ctrl.isObjectEmpty(ctrl.data.organisations)" class="col-sm-5 box">
                            <h4>
                                {% trans "No Org Units assigned" %}
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 1})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-sm-5 box" ng-repeat="(key, val) in ctrl.data.organisations">
                            <h4>{{ key }}
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 1})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                            <ul>
                                <li ng-repeat="org in val">
                                    <span ng-if="org">{{ org }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="user_roles" class="col-sm-2 control-label">User Roles:</label>
                    <div id="user_roles" class="col-sm-10">
                        <div class="col-sm-5 box" ng-if="ctrl.isObjectEmpty(ctrl.data.roles)">
                            <h4>
                                No role assigned
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 2})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-sm-5 box" ng-repeat="(key, val) in ctrl.data.roles">
                            <h4>{{ key }}
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 2})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                            <ul>
                                <li ng-repeat="role in val">
                                    <span ng-if="role">{{ role }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_groups" class="col-sm-2 control-label">User Groups:</label>
                    <div id="user_groups" class="col-sm-10">
                        <div class="col-sm-5 box" ng-if="ctrl.isObjectEmpty(ctrl.data.groups)">
                            <h4>
                                No group assigned
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 3})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                        </div>
                        <div class="col-sm-5 box" ng-repeat="(key, val) in ctrl.data.groups">
                            <h4>{{ key }}
                                <a ui-sref="users.edit({id: ctrl.data.dhis_user.id, step: 3})" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil"></span>
                                </a>
                            </h4>
                            <ul>
                                <li ng-repeat="group in val">
                                    <span ng-if="group">{{ group }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--
                TODO Restore this when BAO will update DHIS
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="languages" class="col-sm-2 control-label">Interface Language:</label>
                        <div id="languages" class="col-sm-10">
                            <div class="col-sm-5 box">
                                {{ ctrl.data.user_language.name }}
                                <a ng-click="ctrl.open()" class="pencil">
                                    <span class="glyphicon glyphicon-pencil pencil" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            !-->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Select user's Interface Language</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <select ng-model="ctrl.selectedLanguage" class="form-control">
                        <option ng-repeat="language in ctrl.languages" value="{{ language.code }}">{{ language.name }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <div class="text-center row margin-top">
                        <input type="submit" class="btn btn-primary save-button"
                               ng-click="ctrl.save()" value="{{ (ctrl.loading) ? 'Saving...' : 'Save' }}" ng-disabled="ctrl.loading"/>
                    </div>
                </div>
            </script>
            <script type="application/javascript">
                $('#languageModal').find('.save-button').click(function() {
                    var $this = $(this);
                    $this.attr('disabled', true);
                    $this.val('Saving...');
                    $('#language-form').submit();
                });
            </script>
            {% endverbatim %}
        </div>
    </div>
</div>