{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block js %}
            <script src='{% static "jquery/dist/jquery.min.js" %}'></script>
            <script src='{% static "datatables/media/js/jquery.dataTables.min.js" %}'></script>
            <script src='{% static "angular/angular.min.js" %}'></script>
            <script src='{% static "angular-ui-router/release/angular-ui-router.min.js" %}'></script>
            <script src='{% static "angular-datatables/dist/angular-datatables.min.js" %}'></script>
            <script src='{% static "angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js" %}'></script>
            <script src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>
            <script src='{% static "datatables/media/js/dataTables.bootstrap.min.js" %}'></script>
            <script src='{% static "angular-tree-control/angular-tree-control.js" %}'></script>
            <script src='{% static "angular-ui-select/dist/select.min.js" %}'></script>
            <script src='{% static "is-loading/jquery.isloading.min.js" %}'></script>

            <script src='{% static "angular-bootstrap/ui-bootstrap.min.js" %}'></script>
            <script src='{% static "angular-bootstrap/ui-bootstrap-tpls.js" %}'></script>

            <script src='{% static "angular-ui-keypress/keypress.min.js" %}'></script>

            <script src="{% static 'users/js/app.js' %}"></script>
            <script src="{% static 'users/js/services/LoadingOverlayService.js' %}"></script>
        {% endblock js %}

        {% block style %}
            <link rel='stylesheet' type='text/css' href='{% static "users/css/base.css"%}'/>
            <link rel='stylesheet' type='text/css' href='{% static "users/css/spinner.css"%}'/>
            <link rel='stylesheet' type='text/css' href='{% static "bootstrap/dist/css/bootstrap.css" %}'/>
            <link rel='stylesheet' type='text/css' href='{% static "angular-tree-control/css/tree-control.css" %}'/>
            <link rel="stylesheet" type="text/css" href='{% static "datatables/media/css/dataTables.bootstrap.css" %}'/>
            <link rel="stylesheet" type="text/css" href='{% static "angular-ui-select/dist/select.css" %}'/>
            <link rel="stylesheet" type="text/css" href='{% static "angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" %}'/>
        {% endblock style %}

        <meta charset="UTF-8">
        <title>User Management</title>
    </head>
    <body ng-app="cumaApp">
        <div class="header-bar" id="header">
            <span class="header-left">
                <ul>
                    <li>
                        <a href="{{ dhis2_url }}" id="comet-url" class="logo-banner"></a>
                    </li>
                    <li class="header-text">
                        <a href="{% url 'home' %}" class="text-white">COMET | User Management</a>
                    </li>
                </ul>
            </span>
            <ul class="right-nav pull-right">
                {% if user.is_authenticated %}
                    <li id="profileButton" class="dropdown">
                        <a id="profileLink" href="" class="header-text-right" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> Profile
                        </a>
                        <ul class="dropdown-menu dropdown-menu-profile">
                            <li>
                                <a ui-sref="users.profile({id: '{{ user.external_id }}'})">{% trans "Profile" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="container">
            {% block bread-crumb %}
            {% endblock bread-crumb %}
            {% block messages %}
                <div class="row" style="margin-top: 20px">
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="text-center alert alert-{{ message.tags }} alert-dismissible"{% endif %}>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endblock messages %}
            {% block container %}
            {% endblock container %}
        </div>
    </body>
</html>
