{% extends "users/base_template.html" %}
{% block container %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.displayName }}</td>
                <td><a href="{% url 'show_user' user.id %}">Profile</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock container %}
