{% extends "users/base_template.html" %}
{% load static %}
{% block js %}
    {{ block.super }}

        <script>
            $(document).ready(function() {
                var datatable = $('#datatable').DataTable({
                    "columnDefs": [{
                        "orderable": false,
                        "targets": 3
                    }]
                });
            });
        </script>
{% endblock js %}

{% block container %}
    <div class="top10">
        <table id="datatable" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr class="search-result-header">
                    <th>Name</th>
                    <th>Username</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.displayName }}</td>
                    <td>{{ user.userCredentials.username }}</td>
                    <td>{% if not user.userCredentials.disabled %}Active{% else %}Inactive{% endif %}</td>
                    <td><a href="{% url 'show_user' user_id=user.id %}">Profile</a> | <a href="{% url 'edit_user' user_id=user.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}
